.optionsContainer {
    margin-bottom: 10px;
    text-align: center;
}

.options {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.option {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50px;
    background-color: var(--light-dark);
    width: 40px;
    text-align: center;
    padding: 5px 10px;
    transition: 0.2s;
}

.option:hover {
    background-color: var(--secondary);
}

.active {
    color: var(--light);
    margin-right: 10px;
    border-radius: 50px;
    background-color: var(--primary);
    width: 40px;
    text-align: center;
    padding: 5px 10px;
}