body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #94B49F;
  --secondary: #ECB390;
  --tertiary: #DF7861;
  --light: #F5F5F5;
  --primary-dark: #7F9D6D;
  --secondary-dark: #C27E5E;
  --tertiary-dark: #9F5F3F;
  --light-dark: #E5E5E5;
  --dark: #2F353D;
}