.usersContiner {
    margin-top: 30px;
    text-align: center;
}

.usersContiner h1 {
    text-align: center;
    font-size: 40px;
}

.userTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSection {
    display: flex;
}